@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <h1 class="text-primary">Welcome to MealGen - Your Personal Meal Planner</h1>
    <p>Are you tired of the endless meal planning struggle? Say goodbye to the hassle of deciding what to cook each day! With MealGen, meal planning has never been easier. Our intuitive app takes the guesswork out of meal preparation, leaving you more time to enjoy delicious and nutritious meals with your loved ones.</p>
    <p><strong>Discover Limitless Possibilities</strong></p>
    <p>MealGen offers a vast array of recipes catering to every taste and dietary preference. Whether you're a carnivore, vegetarian, vegan, or follow a special diet, our app has something for everyone. Explore a diverse collection of recipes ranging from quick and easy weekday meals to gourmet dishes fit for special occasions.</p>
    <p><strong>Personalized Meal Plans Just for You</strong></p>
    <p>Say farewell to monotonous meal routines! MealGen empowers you to create personalized meal plans tailored to your unique lifestyle, dietary requirements, and health goals. Simply input your preferences, and let MealGen do the rest. Our smart algorithm generates custom meal plans that align with your tastes and nutritional needs, ensuring a balanced and satisfying culinary experience.</p>
    <p><strong>Effortless Shopping and Cooking</strong></p>
    <p>Simplify your grocery shopping experience with MealGen's built-in shopping list feature. Seamlessly compile your ingredients list based on your selected recipes, and head to the store with confidence, knowing you have everything you need. With clear step-by-step instructions, cooking delicious meals has never been more straightforward. From prep to plate, MealGen guides you every step of the way, making cooking a stress-free and enjoyable experience.</p>
    <p><strong>Join the MealGen Community</strong></p>
    <p>Connect with fellow food enthusiasts, share your culinary creations, and discover new recipes in the vibrant MealGen community. Exchange cooking tips, swap meal ideas, and embark on a culinary journey together. With MealGen, you're never alone in your quest for delicious and nutritious meals.</p>
    <p><strong>Start Your Journey Today</strong></p>
    <p>Transform your meal planning experience with MealGen. Say hello to effortless meal planning, delightful cooking adventures, and a healthier, happier you. Download MealGen now and embark on a culinary journey filled with flavor, variety, and endless possibilities. Let MealGen revolutionize the way you eat, one meal at a time.</p>
</div>