@page "/login"
@using FoodSystemClient.Services
@using Microsoft.AspNetCore.Http
@inject IUserService userService
@inject StorageService storageService
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<h3>User Login</h3>

<BootstrapInputGroup>
    <BootstrapInput @bind-Value="@username" Placeholder="Username" />
        <Button ButtonType="ButtonType.Submit" Text="Login" IsAsync="true"></Button>
</BootstrapInputGroup>

@code {
    private string username { get; set; } = "";

    private async void LoginAsync()
    {
        if(string.IsNullOrEmpty(username))
        {
            return;
        }

        var userPrincipal = await userService.LoginAsync(username);
        if(userPrincipal != null)
        {
            await storageService.StoreClaimsPrincipal(userPrincipal);
        }
    }
}