@page "/login"
@using FoodSystemClient.Services
@using FoodSystemClient.Authentication
@inject IUserService userService
@inject AuthenticationService authenticationService
@inject TokenProvider tokenProvider
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<h3>User Login</h3>

<form @onsubmit="LoginAsync">
    <BootstrapInputGroup>
        <BootstrapInput @bind-Value="@username" Placeholder="Username" />
            <Button ButtonType="ButtonType.Submit" Text="Login" IsAsync="true"></Button>
    </BootstrapInputGroup>
</form>

@code {
    private string username { get; set; } = string.Empty;

    private async void LoginAsync()
    {
        if(string.IsNullOrEmpty(username))
        {
            return;
        }

        var userPrincipal = await userService.LoginAsync(username);
        if(userPrincipal != null)
        {
            authenticationService.CurrentUser = userPrincipal;
            //await JSRuntime.InvokeVoidAsync("localStorage.setItem", "claimsPrincipal", userPrincipal); need to fix
            navigationManager.NavigateTo("/");
        }
    }
}